streamlit_custom_toggle/frontend/node_modules/
streamlit_custom_toggle/frontend/build/
.vscode/
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.venv
venv/
